first/data/data.tar.gz
first/data/targets.csv
first/data/set_test/
first/data/set_train/
first/plots/10_planes/
first/plots/mid_cuts/
first/source/
first/source/__pycache__/

second/data/set_train/
second/data/set_test/
second/data/data.tar.gz
second/__pycache__/
second/segmentation.py

third/MLP2_LittleBigData.zip
third/MLP3_LittleBigData.zip
third/submission/data
third/submission/src/submissions
third/submission/src/log*

__pycache__
